<link rel="stylesheet" href="/static/jquery-ztree/3.5/css/awesome/zTreeStyle.css?V4.2-04251551">
<% layout('/layouts/default.html', {title: '项目授权信息管理', libs: ['validate','dataGrid','select2','zTree']}){ %>
<div class="main-content">
	<div class="box box-main">
		<div class="box-header with-border">
			<div class="box-title">
				<i class="fa icon-note"></i> ${text(pmProjLic.isNewRecord ? '新增项目授权信息' : '编辑项目授权信息')}
			</div>
			<div class="box-tools pull-right">
				<button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
			</div>
		</div>
		<#form:form id="inputForm" model="${pmProjLic}" action="${ctx}/pm/pmProjLic/save" method="post" class="form-horizontal">
			<div class="box-body">
				<div class="form-unit">${text('基本信息')}</div>
				<#form:hidden path="id"/>
				<div class="row">
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required hide">*</span> ${text('授权标识')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input path="sn" maxlength="32" readonly="true" class="form-control"/>
							</div>
						</div>
					</div>
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required ">*</span> ${text('项目编号')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:select path="projId" dictType=""  maxlength="20" class="form-control required"
								items="${projectList}" itemLabel="projectName" itemValue="id" />
							</div>
						</div>
					</div>
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required ">*</span> ${text('单位名称')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input path="companyName" maxlength="300" class="form-control required"/>
							</div>
						</div>
					</div>
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required hide">*</span> ${text('单位简称')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input path="companyShortname" maxlength="50" class="form-control"/>
							</div>
						</div>
					</div>
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required ">*</span> ${text('生效日期')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input path="startDate" readonly="true" maxlength="20" class="form-control laydate required"
									dataFormat="date" data-type="date" data-format="yyyy-MM-dd"/>
							</div>
						</div>
					</div>
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required ">*</span> ${text('截止日期')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input path="endTime" readonly="true" maxlength="20" class="form-control laydate required"
									dataFormat="date" data-type="date" data-format="yyyy-MM-dd"/>
							</div>
						</div>
					</div>
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required ">*</span> ${text('操作员数量')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input path="operatorCount" maxlength="11" class="form-control required digits"/>
							</div>
						</div>
					</div>
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required ">*</span> ${text('用户数量')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input path="userCount" maxlength="11" class="form-control required digits"/>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-12">
						<div class="form-group">
							<label class="control-label col-sm-2" title="">
								<span class="required hide">*</span> ${text('备注信息')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-10">
								<#form:textarea path="remarks" rows="4" maxlength="500" class="form-control"/>
							</div>
						</div>
					</div>
				</div>
				<h4 class="form-unit">${text('项目授权模块信息')}</h4>
				<div class="ml10 mr10">
					<div id="menuTrees"></div>
					<script id="menuTpl" type="text/template">
						<div class="pull-left" style="padding:0 15px;min-width:300px;">
							<div class="box box-solid" style="background:#FAFAFA">
								<div class="box-header">
									<div class="box-title icheck">
										<label><input type="checkbox" id="checkall_{{d.key}}"
													  class="checkall"/> {{d.label}}</label>
									</div>
									<div class="box-tools pull-right" style="top:8px;">
										<a class="btn btn-box-tool" id="expand_{{d.key}}"
										   value="menuTree_{{d.key}}" >展开</a>/<a
											class="btn btn-box-tool" id="collapse_{{d.key}}"
											value="menuTree_{{d.key}}" >折叠</a>
									</div>
								</div>
								<div class="box-body">
									<div id="menuTree_{{d.key}}" class="ztree"></div>
								</div>
							</div>
						</div>
					</script>
				</div>
			</div>
			<div class="box-footer">
				<div class="row">
					<div class="col-sm-offset-2 col-sm-10">
						<% if (hasPermi('pm:pmProjLic:edit')){ %>
							<button type="submit" class="btn btn-sm btn-primary" id="btnSubmit"><i class="fa fa-check"></i> ${text('保 存')}</button>&nbsp;
						<% } %>
						<button type="button" class="btn btn-sm btn-default" id="btnCancel" onclick="js.closeCurrentTabPage()"><i class="fa fa-reply-all"></i> ${text('关 闭')}</button>
					</div>
				</div>
			</div>
		<input type="hidden" id="pmProjLicModuleIdList" name="pmProjLicModuleIdList" value=""/>
		</#form:form>
	</div>
</div>
<% } %>
<!--<script src="/static/jquery/jquery-3.5.0.min.js"></script>-->
<!--<script src="/static/jquery/jquery-migrate-3.2.0.min.js"></script>
<script src="/static/bootstrap/js/bootstrap.min.js"></script>
<script src="/static/select2/4.0/select2.js?${_version}"></script>
<script src="/static/jquery-ztree/3.5/js/jquery.ztree.all-3.5.js?${_version}"></script>
<script src="/static/jquery-validation/1.16/jquery.validate.js?${_version}"></script>
<link rel="stylesheet" href="/static/icheck/1.0/minimal/grey.css?${_version}">
-->
<script>
$("#inputForm").validate({
	submitHandler: function(form){
		// 获取数据权限数据
		var menuData = [];
		$.each(menuTrees, function(key, menuTree){
			var treeNodes = menuTree.getCheckedNodes(true);
			for(var i=0; i<treeNodes.length; i++) {
				menuData.push({id: treeNodes[i].id,module_limit:0x7fffffff});
			}
		});
		$("#pmProjLicModuleIdList").val(JSON.stringify(menuData));
		// 提交表单数据
		js.ajaxSubmitForm($(form), function(data){
			js.showMessage(data.message);
			if(data.result == Global.TRUE){
				js.closeCurrentTabPage(function(contentWindow){
					contentWindow.page();
				});
			}
		}, "json");
	}
});
//加载数据权限树结构
var setting = {
			check:{enable:true,nocheckInherit:true,chkboxType:{"Y":"ps","N":"ps"}},
			view:{selectedMulti:false,nameIsHTML: true},
			data:{simpleData:{enable:true},key:{title:"title"}},
			callback:{
				beforeClick: function (treeId, treeNode, clickFlag) {
					var tree = $.fn.zTree.getZTreeObj(treeId);
					tree.checkNode(treeNode, !treeNode.checked, true, true);
					return false;
				},
				onCheck: function (event, treeId, treeNode){ }
			}
		},
		sysCodeDict = [{"cssClass":"","cssStyle":"","dictValue":"default","dictLabel":"主导航菜单"}],
		menuTrees = {}; // 用sysCode分类存储所有菜单树
$.ajax({
	type: 'POST',
	url: "${ctx}/pm/pmProjLic/moduleTreeData?___t=" + new Date().getTime(),
	data: JSON.stringify({id: '${pmProjLic.id}'}),
	dataType: 'json',
	contentType: "application/json",
	async: false,
	error: function(data){
		js.showErrorMessage(data.responseText);
	},
	success: function(data, status, xhr){
		for (var sysCode in data.menuMap){
			var menuMap = data.menuMap[sysCode];
			$('#menuTrees').append(js.template('menuTpl', {key: sysCode,
				label: '功能模块清单'}));
			// 初始化树结构
			var tree = $.fn.zTree.init($("#menuTree_"+sysCode), setting, menuMap);
			// 展开第一级节点
			var nodes = tree.getNodesByParam("level", 0);
			for(var i=0; i<nodes.length; i++) {
				tree.expandNode(nodes[i], true, false, false);
			}
			// 展开第二级节点
			nodes = tree.getNodesByParam("level", 1);
			for(var i=0; i<nodes.length; i++) {
				tree.expandNode(nodes[i], true, false, false);
			}
			// 默认展开全部节点
			//tree.expandAll(true);
			// 树结构：全选、取消全选
			$('#checkall_'+sysCode).iCheck({
				checkboxClass:'icheckbox_minimal-grey'
			}).on('ifChecked ifUnchecked', function(){
				var sysCode = $(this).attr('sysCode');
				if(this.checked){
					menuTrees[sysCode].checkAllNodes(true);
				}else{
					menuTrees[sysCode].checkAllNodes(false);
				}
			}).attr("sysCode", sysCode);
			// 展开和折叠按钮绑定
			$('#expand_'+sysCode).click(function(){
				var sysCode = $(this).attr('sysCode');
				menuTrees[sysCode].expandAll(true);
			}).attr("sysCode", sysCode);
			$('#collapse_'+sysCode).click(function(){
				var sysCode = $(this).attr('sysCode');
				menuTrees[sysCode].expandAll(false);
			}).attr("sysCode", sysCode);
			// 将树对象存储到全局数组里
			menuTrees[sysCode] = tree;
		}
		debugger;
		// 默认选择节点
		for (var idx in data.roleMenuList){
			var roleMenu = data.roleMenuList[idx];
			var node = menuTrees[sysCode].getNodeByParam("id",roleMenu.id);
			try{menuTrees[sysCode].checkNode(node, true, false);}catch(e){}
		}
	}
});

</script>
